@import './src/styles/reusable_styles.scss';

.wrapper {
  width: 23.75rem;
  height: 23.75rem;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @extend .border_line;
  @extend .glass_background;

  transform: scale(1);

  &:hover {
    transform: scale(1.06);
    .title {
      text-decoration: underline;
    }
  }

  .image {
    position: relative;
    width: auto;
    height: 11.25rem;
    margin-top: 1.25rem;
    object-fit: contain;
  }
  @media (max-width: 45.5rem) {
    width: 20rem;
    height: 20rem;
    padding: 1rem;

    .image {
      margin-top: 0.25rem;
      height: 7rem;
    }
    .description {
      font-size: 0.9rem;
    }
  }
}
